@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Amaranth:wght@400;700&family=Cinzel:wght@400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Unbounded:wght@200;300;400;500;600;700;800&family=Vidaloka&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

html {
  font-size: 12px;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 16px;
  }
}
body {
  font-family: "Aboreto", cursive;
}

.card {
  font-family: "Roboto", sans-serif;
}

.section-cards {
  font-family: "Roboto", sans-serif;
}
.section-cards__title {
  font-family: "Aboreto", cursive;
}
.section-cards__subtitle {
  font-family: "Aboreto", cursive;
}

.whatsapp-container__link {
  font-family: "Roboto", sans-serif;
}

.footer {
  font-family: "Roboto", sans-serif;
}
.footer__text-block {
  font-family: "Aboreto", cursive;
}

.main-form {
  font-family: "Roboto", sans-serif;
}

.main-contact {
  font-family: "Roboto", sans-serif;
}

.main-about {
  font-family: "Roboto", sans-serif;
}
.main-about__title {
  font-family: "Aboreto", cursive;
}

.card {
  margin: 1rem;
  border: 1px solid rgb(168, 81, 208);
  border-radius: 10px;
  color: black;
  background-color: rgb(251, 239, 255);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.342);
}
.card__header {
  height: 150px;
  background-color: rgb(251, 239, 255);
  margin: 3px;
}
.card__img {
  height: 150px;
  padding: 5px;
  display: block;
  margin: auto;
  max-width: 250px;
}
.card__body {
  padding: 1rem;
  height: 350px;
}
.card__title {
  font-weight: 500;
  font-size: 2rem;
  border-bottom: 2px solid rgb(168, 81, 208);
  height: 60px;
}
.card__description {
  padding: 1.5rem 0 2rem;
  height: 250px;
  font-size: 1.5rem;
}
.card__price {
  font-weight: 500;
  font-size: 1.5rem;
  color: rgb(103, 32, 110);
}
.card__footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.card__date {
  color: rgb(168, 81, 208);
  font-size: 1.25rem;
}
.card__btn {
  padding: 1rem 1.5rem;
  background-color: rgb(168, 81, 208);
  border-radius: 7px;
  color: white;
  font-size: 1.5rem;
}
.card__btn:hover {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.342);
}
.card:hover {
  box-shadow: 0px 0px 5px 10px rgba(153, 4, 246, 0.342);
  transition: box-shadow 0.5s;
}

@media screen and (min-width: 600px) {
  .card {
    min-width: 300px;
  }
  .card__title {
    font-size: 1.3rem;
  }
  .card__description {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1000px) {
  .card__title {
    font-size: 1.5rem;
  }
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar {
  height: 175px;
  background-color: rgb(103, 32, 110);
  display: flex;
  align-items: center;
  position: relative;
}
.navbar__logo {
  height: 175px;
  border-radius: 35px;
  padding: 15px;
}
.navbar__menu-label {
  color: rgb(255, 255, 255);
  height: 42px;
  background-color: rgb(207, 86, 36);
  width: 42px;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__menu-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.navbar__menu-btn:checked ~ .navbar__nav-links-container {
  height: calc(100vh - 50px);
}
.navbar__menu-icon {
  height: 2px;
  background-color: rgb(255, 255, 255);
  width: 18px;
  position: relative;
}
.navbar__menu-icon::after, .navbar__menu-icon::before {
  content: "";
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  transition: all 0.2s ease-out;
}
.navbar__menu-icon::after {
  top: 5px;
}
.navbar__menu-icon::before {
  top: -5px;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon {
  background: transparent;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::after {
  transform: rotate(45deg);
  top: 0;
}
.navbar__menu-btn:checked ~ .navbar__menu-label .navbar__menu-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
.navbar__nav-links-container {
  list-style: none;
  position: absolute;
  top: 0px;
  background-color: rgb(103, 32, 110);
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar__nav-item {
  padding: 1.25rem 1rem;
}
.navbar__nav-item:not(:last-child) {
  border-bottom: 2px solid rgb(156, 156, 156);
}
.navbar__nav-link {
  color: rgb(255, 255, 255);
}

.user-navbar {
  margin-left: auto;
  color: white;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0 1rem;
}
.user-navbar__user-avatar {
  height: 2rem;
  padding-left: 10px;
}
.user-navbar__cart-icon-container {
  color: white;
  font-size: 1.5rem;
}

@media screen and (min-width: 600px) {
  .navbar {
    height: 90px;
  }
  .navbar__logo {
    height: 90px;
  }
  .navbar__menu-label, .navbar__menu-btn {
    display: none;
  }
  .navbar__nav-links-container {
    position: static;
    flex-direction: row;
    height: 100%;
    width: auto;
  }
  .navbar__nav-item {
    padding: 1.25rem 0.5rem;
    border-bottom: 2px solid rgb(156, 156, 156);
    font-size: 1rem;
  }
  .user-navbar {
    order: 3;
  }
}
@media screen and (min-width: 1000px) {
  .navbar {
    height: 175px;
  }
  .navbar__logo {
    height: 175px;
  }
  .navbar__menu-label, .navbar__menu-btn {
    display: none;
  }
  .navbar__nav-links-container {
    position: static;
    flex-direction: row;
    height: 100%;
    width: auto;
  }
  .navbar__nav-item {
    padding: 1.25rem 1rem;
    border-bottom: 2px solid rgb(156, 156, 156);
    font-size: 1.5rem;
  }
  .user-navbar {
    order: 3;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(103, 32, 110);
  color: white;
}
.footer__column {
  padding: 1rem 1.5rem;
}
.footer__column-logo {
  padding: 1rem 1.5rem;
}
.footer__company-logo {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100px;
  border-radius: 10px;
}
.footer__column-logo-text {
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
}
.footer__text-block {
  padding: 0 1.5rem;
  text-align: center;
}
.footer__contact-item {
  list-style: none;
}
.footer__contact-link {
  color: white;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer__contact-icon {
  font-size: 1.75rem;
}
.footer__contact-icon--facebook {
  color: white;
}
.footer__contact-icon--instagram {
  color: white;
}
.footer__contact-icon--linkedin {
  color: white;
}

@media screen and (min-width: 600px) {
  .footer {
    flex-direction: row;
  }
}
.main {
  margin-top: 175px;
  background-color: white;
  color: white;
}

@media screen and (min-width: 600px) {
  .main {
    margin-top: 90px;
  }
}
@media screen and (min-width: 1000px) {
  .main {
    margin-top: 175px;
  }
}
.section-about {
  background-color: rgb(251, 239, 255);
}
.section-about__header {
  background-color: rgb(168, 81, 208);
  padding: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.section-about__title {
  font-weight: 600;
  font-size: 3rem;
}
.section-about__subtitle {
  color: rgb(242, 231, 244);
  font-size: 1.5rem;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-about {
  padding: 15px;
  background-image: linear-gradient(to right, rgb(228, 204, 255), rgb(251, 239, 255));
  color: rgb(103, 32, 110);
}
.main-about__box {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 10px;
  margin: 1rem;
  border: 1px solid rgb(168, 81, 208);
  border-radius: 2px;
  color: rgb(103, 32, 110);
  background-color: rgb(251, 239, 255);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.342);
  margin: auto;
}
.main-about__image {
  max-width: 300px;
  margin: auto;
}
.main-about__title {
  border-bottom: 2px solid rgb(103, 32, 110);
}

@media screen and (min-width: 600px) {
  .main-about__box {
    width: 750px;
  }
  .main-about__image {
    max-width: 500px;
  }
}
@media screen and (min-width: 1000px) {
  .main-about__box {
    width: 1000px;
  }
}
.section-contact {
  background-color: rgb(251, 239, 255);
}
.section-contact__header {
  background-color: rgb(168, 81, 208);
  padding: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.section-contact__title {
  font-weight: 600;
  font-size: 3rem;
}
.section-contact__subtitle {
  color: rgb(242, 231, 244);
  font-size: 1.5rem;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-contact {
  display: flex;
  padding: 15px;
  background-image: linear-gradient(to right, rgb(228, 204, 255), rgb(251, 239, 255));
  color: rgb(103, 32, 110);
}
.main-contact__form {
  height: 450px;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.main-contact__head {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.main-contact__box {
  padding: 10px;
  margin: 1rem;
  border: 1px solid rgb(168, 81, 208);
  border-radius: 10px;
  color: black;
  background-color: rgb(251, 239, 255);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.342);
  margin: auto;
}
.main-contact__box:hover {
  box-shadow: 0px 0px 5px 5px rgba(153, 4, 246, 0.342);
  transition: box-shadow 0.5s;
}
.main-contact__text-input {
  width: 100%;
}
.main-contact__text-consult {
  width: 100%;
  height: 350px;
}
.main-contact__btn-send {
  padding: 5px;
  background-color: rgb(168, 81, 208);
  border-radius: 7px;
  color: white;
  font-size: 1rem;
}
.main-contact__btn-send:hover {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.342);
}
.main-contact__check-items {
  margin-left: 5px;
  margin-right: 5px;
}

@media screen and (min-width: 600px) {
  .main-contact__box {
    width: 750px;
  }
}
@media screen and (min-width: 1000px) {
  .main-contact__box {
    width: 1000px;
  }
}
.section-form {
  background-color: rgb(251, 239, 255);
}
.section-form__header {
  background-color: rgb(168, 81, 208);
  padding: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.section-form__title {
  font-weight: 600;
  font-size: 3rem;
}
.section-form__subtitle {
  color: rgb(242, 231, 244);
  font-size: 1.5rem;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-form {
  display: flex;
  padding: 15px;
  background-image: linear-gradient(to right, rgb(228, 204, 255), rgb(251, 239, 255));
  color: rgb(103, 32, 110);
}
.main-form__form {
  height: 450px;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.main-form__box {
  padding: 10px;
  margin: 1rem;
  border: 1px solid rgb(168, 81, 208);
  border-radius: 10px;
  color: black;
  background-color: rgb(251, 239, 255);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.342);
  margin: auto;
}
.main-form__box:hover {
  box-shadow: 0px 0px 5px 5px rgba(153, 4, 246, 0.342);
  transition: box-shadow 0.5s;
}
.main-form__text-input {
  width: 100%;
}
.main-form__btn-send {
  padding: 5px;
  background-color: rgb(168, 81, 208);
  border-radius: 7px;
  color: white;
  font-size: 1rem;
}
.main-form__btn-send:hover {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.342);
}
.main-form__check-items {
  margin-left: 5px;
  margin-right: 5px;
}

.section-cards {
  background-color: rgb(251, 239, 255);
}
.section-cards__header {
  background-color: rgb(168, 81, 208);
  padding: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.section-cards__title {
  font-weight: 600;
  font-size: 3rem;
}
.section-cards__subtitle {
  color: rgb(242, 231, 244);
  font-size: 1.5rem;
  padding-top: 15px;
  padding-bottom: 15px;
}
.section-cards__products-search-container {
  padding: 1rem 1rem;
  color: rgb(255, 255, 255);
  background-color: rgb(228, 122, 41);
  border: 1px solid rgb(7, 0, 45);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.342);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.section-cards__product-search {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.section-cards__product-search-label {
  font-size: 1.75rem;
}
.section-cards__product-search-input {
  height: 2rem;
  font-size: 1rem;
  width: auto;
}
.section-cards__product-search-input:hover {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.421);
}
.section-cards__product-search-btn {
  height: 2rem;
  width: 60px;
  font-size: 1rem;
}
.section-cards__product-search-btn:hover {
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.421);
}
.section-cards__products-count {
  font-size: 1.25rem;
}
.section-cards__category {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, rgb(228, 204, 255), rgb(251, 239, 255));
  color: rgb(103, 32, 110);
  border-bottom: 2px solid rgb(103, 32, 110);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  background-image: linear-gradient(to right, rgb(228, 204, 255), rgb(251, 239, 255));
}

.whatsapp-container {
  height: 40px;
  font-size: 1.5rem;
}
.whatsapp-container__link {
  display: flex;
  align-items: center;
}
.whatsapp-container__img {
  font-size: 2.5rem;
  color: rgb(103, 32, 110);
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (min-width: 600px) {
  .section-cards__product-search-input {
    width: 300px;
  }
}
@media screen and (min-width: 1000px) {
  .section-cards__header {
    display: flex;
  }
  .section-cards__product-search-input {
    width: 500px;
  }
}/*# sourceMappingURL=main.css.map */