.footer {
    display: flex;
    flex-direction: column;
    background-color: $color-bg-primary;
    color: white;
    
    &__column {
        padding: 1rem 1.5rem;
    }

    &__column-logo {
        padding: 1rem 1.5rem;
    }

    &__company-logo {
        object-fit:contain;
        width: 100px;
        border-radius: 10px;

    }

    &__column-logo-text {
        padding: 1rem 1.5rem;
        display: flex;
        align-items: center;
    }

    &__text-block {
        padding: 0 1.5rem;
        text-align: center;
    }

    &__contact-item {
        list-style: none;
    }

    &__contact-link {
        color: white;
        padding: .25rem;
        display: flex;
        align-items: center;
        gap: .5rem;
        

        
    }

    &__contact-icon {
        font-size: 1.75rem;
        &--facebook {
            color: white;
        }
        &--instagram {
            color: white;
        }
        &--linkedin {
            color: white;
        }
    }
}

@media screen and(min-width: 600px) {
    .footer {
        flex-direction: row;
    }
}