.main {
    margin-top: $menu-height;
    //padding: 1.5rem 0;
    background-color: white;
    color: white;
}

.section-cards {
    background-color: $color-bg-third;
    &__header {
        background-color: $color-bg-secondary;
        padding: 1.5rem;
    }
}