.main {
    margin-top: $menu-height;
    background-color: white;
    color: white;
}

@media screen and (min-width: 600px) {
    .main{
        margin-top: $menu-height-med;
    }
}

@media screen and (min-width: 1000px) {
    .main{
        margin-top: $menu-height;
    }
}