  @import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Amaranth:wght@400;700&family=Cinzel:wght@400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&family=Unbounded:wght@200;300;400;500;600;700;800&family=Vidaloka&display=swap');

/*
font-family: 'Aboreto', cursive;
font-family: 'Amaranth', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Unbounded', cursive;
font-family: 'Vidaloka', serif;
*/

body {
    font-family: 'Aboreto', cursive;

}

.card {
    font-family: 'Roboto', sans-serif;
}

.section-cards {
  font-family: 'Roboto', sans-serif;
  &__title{
    font-family: 'Aboreto', cursive;
  }
  &__subtitle {
    font-family: 'Aboreto', cursive;
  }
}

.whatsapp-container {
  &__link{
    font-family: 'Roboto', sans-serif;
  }
}

.footer {
  font-family: 'Roboto', sans-serif;
  &__text-block {
    font-family: 'Aboreto', cursive;
  }
}